.leaflet-control-selection-region {
  clear: none;
}

.leaflet-region-controls-overlay-pane {
  min-width: fit-content;
}

.leaflet-top.leaflet-left {
  display: flex;
  flex-direction: column;
}

.lucide.lucide-crop {
  width: 20px;
  height: 20px;
}

.start-button,
.menu-button,
.area-select-button {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 4px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.start-button {
  padding: 5px;
}

.area-select-button,
.menu-button {
  height: 24px;
}

.menu-button {
  width: 24px;
  margin: 5px;
}

.area-select-button {
  padding: 0 10px;
  text-wrap: nowrap;
}

.start-button:hover,
.menu-button-active,
.area-select-button:hover,
.area-select-button:disabled,
.menu-button:hover {
  background-color: #f4f4f4;
}

.start-button:disabled,
.area-select-button:disabled {
  cursor: not-allowed;
  color: #bbb;
}

.vertex-ne,
.vertex-sw {
  cursor: nesw-resize;
}

.vertex-nw,
.vertex-se {
  cursor: nwse-resize;
}

.menu-btns-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.draw-box-btn-container {
  top: 85px;
  z-index: 1000;
}

.draw-box-btn:hover,
.draw-box.btn:focus {
  text-decoration: none;
  outline: 1px solid #666666;
  color: #333333;
}
