.coordinates-display {
  width: 250px;
  position: absolute;
  border: 1px solid var(--border-color-unhovered);
  border-radius: var(--standard-border-radius);
  background-color: var(--semi-transparent-bg-color);
  box-shadow: var(--standard-box-shadow);
  z-index: 400;
  opacity: 0.8;
  left: calc(50% - 150px);
  bottom: 15px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

.coordinates-display > span {
  display: inline-block;
}

.coords {
  width: 110px;
}

.coords.lat {
  text-align: right;
}

.parens {
  width: 15px;
}
