.coordinates-display {
  width: 250px;
  position: absolute;
  border: 1px solid var(--border-color-unhovered);
  border-radius: var(--standard-border-radius);
  background-color: var(--semi-transparent-bg-color);
  box-shadow: var(--standard-box-shadow);
  z-index: 400;
  opacity: 0.8;
  left: calc(50% - 150px);
  bottom: 15px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  user-select: none;
}

.coordinates-display > span,
.coords-delimiter {
  display: inline-block;
}

.coords {
  width: 100px;
}

.coords-delimiter {
  margin-left: 5px;
}

.coords.lat {
  text-align: right;
}

.parens {
  width: 15px;
}

.coords-input {
  width: 100px !important;
  box-sizing: border-box;
}
