.layer-selector-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8px;
  right: 1em;
  z-index: 1000;
  background-color: var(--standard-bg-color);
  border-radius: var(--standard-border-radius);
  border: 1px solid var(--border-color-unhovered);
  max-height: 90vh;
  max-width: 400px;
  row-gap: 2px;
}

.layer-filter-container {
  display: flex;
  justify-content: center;
}

#layer-filter-input {
  width: 200px;
  font-size: 10px;
  border-radius: 5px;
  padding: 1px 5px;
  margin: 1px 1px 0px 1px;
}

.layers-fieldset-container {
  overflow-y: auto;
  flex: 1 1 auto;
}

.layers-fieldset-container > fieldset {
  padding: 0.25em 0.5em;
}

.layer-selector-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding: 0 2px;
}

.layer-selector-header > h3 {
  margin: 0;
}

.lock-menu-btn {
  margin-right: auto;
  background: none;
  color: #666666;
  border: 1px solid white;
  border-radius: var(--standard-border-radius);
  display: flex;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
}

.lock-menu-btn:hover {
  border-color: var(--border-color-hovered);
  color: black;
}

.lock-icon {
  height: 0.9em;
  width: 0.9em;
}

.locked > svg {
  color: #479f76;
}

.layer-selector-container.btn {
  display: flex;
  align-items: center;
  padding: 5px;
  right: 1em;
}

.layer-selector-container.menu {
  padding: 0.5em;
}

.input-container {
  display: flex;
  align-items: center;
  column-gap: 0.75em;
  font-size: 0.75em;
  margin: 1px;
}

.input-container > input {
  margin: 0;
  margin-left: 10px;
  height: 11px;
}

.layers-icon {
  width: 24px;
  height: 24px;
  fill: #666;
}

.input-container.disabled > label,
input[type='radio']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.lock-menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 0px;
  margin-top: 7px;
  margin-bottom: 2px;
}

.lock-menu-container > label {
  font-size: 0.9em;
}

.lock-menu-container > input {
  height: 12px;
}

.left-arrow-icon,
.right-arrow-icon {
  height: 1em;
  width: 1em;
}

.layer-title-container {
  display: flex;
  align-items: center;
  cursor: default;
}

.external-layer-selector-input-label,
.layer-selector-input-label {
  font-size: 10px;
  display: inline-block;
}

.layer-selector-input-label {
  margin-right: 15px;
}

.layer-selector-input-label:first-of-type {
  margin-left: 10px;
}

.layer-selector-input-label > input {
  margin: 0;
  margin-right: 4px;
  height: 11px;
}

.source-group-input {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: -2px;
}

mark {
  color: white;
  background-color: #f26522;
}
