.layer-selector-container {
  position: absolute;
  top: 8px;
  right: 1em;
  z-index: 1000;
  background-color: var(--standard-bg-color);
  border-radius: var(--standard-border-radius);
  border: 1px solid var(--border-color-unhovered);
}

.layer-selector-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding: 0 2px;
}

.layer-selector-header > h3 {
  margin: 0;
}

.lock-menu-btn {
  margin-right: auto;
  background: none;
  color: #666666;
  border: 1px solid white;
  border-radius: var(--standard-border-radius);
  display: flex;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
}

.lock-menu-btn:hover {
  border-color: var(--border-color-hovered);
  color: black;
}

.lock-icon {
  height: 0.9em;
  width: 0.9em;
}

.locked > svg {
  color: #479f76;
}

.layer-selector-container > fieldset {
  padding: 0.25em 0.5em;
}

.layer-selector-container.btn {
  display: flex;
  align-items: center;
  padding: 5px;
  right: 1em;
}

.layer-selector-container.menu {
  padding: 0.5em;
}

.input-container {
  display: flex;
  column-gap: 0.5em;
  font-size: 0.9em;
}

.layers-icon {
  width: 24px;
  height: 24px;
  fill: #666;
}

.input-container.disabled > label,
input[type='radio']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.lock-menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 0px;
  margin-top: 7px;
  margin-bottom: 2px;
}

.lock-menu-container > label {
  font-size: 0.9em;
}

.lock-menu-container > input {
  height: 12px;
}

.left-arrow-icon,
.right-arrow-icon {
  height: 1em;
  width: 1em;
}
