.toggle-container {
  position: absolute;
  left: 40px;
  top: 9px;
  z-index: 5000;
  background-color: var(--standard-bg-color);
  border-radius: var(--standard-border-radius);
  padding: 3px;
  border: 1px solid var(--border-color-unhovered);
}

.toggle-container:hover:not(.disabled) {
  border-color: var(--border-color-hovered);
}

.toggle-container.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.label {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

.label.disabled {
  cursor: not-allowed;
}

.input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 1px;
  background-color: var(--standard-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .label .slider {
  background-color: black;
}

input:checked + .label .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
  border: 1px solid var(--border-color-unhovered);
}

.slider.round:before {
  border-radius: 50%;
}

.left,
.right {
  margin: 0 0.5em;
}
